<!DOCTYPE>
<html>
<head>
<title>Welcome {{name}}</title>
</head>
<body>
<h2>{{name}}'s portal</h2>
<h4>Your id is "{{your_id}}"</h4>
<h4>your token is "{{your_token}}"
<h3>Employees here</h3>
<ul>
{% for employee in employees %}
    {% set return = db.main.employee.find_one({"id": employee}) %}
    <li>{{return["name"]}}</li>
{% endfor %}
</ul>

<h4>
Add Job
</h4>
<form action="{{url_for('datahandlers.jobcreate', token_sent=your_token)}}" method="post">
    <input type="text" name="job_name" placeholder="Job name">
    <input type="submit">
</form>
<h3>
Jobs
</h3>
<ul>
{% for job in jobs %}
<li> {{job["name"]}}
{% endfor %}
</ul>
</body>
</html>