<!DOCTYPE>
<html>
<head>
<title>Welcome {{name}}</title>
</head>
<body>
<h2>{{name}}'s portal</h2>
<h4>Your id is "{{your_id}}"</h4>
<h4>your token is "{{your_token}}"
{% set jobs = db.main.jobs.find({"owner": your_token}) %}
<h3>Employees:</h3>
<ul>
{% for employee in employees %}
    {% set return = db.main.employee.find_one({"id": employee}) %}
    <li><a href="{{url_for('employer_routes.manage_employee', employer_token_sent=your_token, employee_id_sent=return['id'])}}"> {{return["name"]}}</a></li>
{% endfor %}
</ul>

<h4>
Add Job
</h4>
<form action="{{url_for('job_datahandlers.jobcreate', token_sent=your_token)}}" method="post">
    <input type="text" name="job_name" placeholder="Job name" required>
    <input type="submit">
</form>
<h3>
Jobs
</h3>
<ul>
{% for job in jobs: %}
    {% set employer_token = your_token %}
<li><a href="{{url_for('job_routes.jobmain', job_id_sent=job['id'], employer_token_sent=employer_token)}}"> {{job["name"]}}</li>
{% endfor %}
</ul>
</body>
</html>