<!DOCTYPE>
<html>
<head>
<title>
employer sign up
</title>
</head>
<body>
<h1>employer sign up</h1>
<form action="{{url_for('employer_signup_and_login.employersignupdata')}}" method="post">
<input type="text" name="name" placeholder="Enter your name" required>
<input type="email" name="email" placeholder="Enter your email" required>
<input type="tel" name="phone" placeholder="Enter your phone" required>
<input type="password" name="password" placeholder="Password" required>
<input type="submit" name="submit" value="submit">
</form>