<!DOCTYPE>
<html>
<head>
<title>
Employee Sign up
</title>
</head>
<body>
<h1>Employee Sign up</h1>
<form action="{{url_for('employee_login_and_signup.employeesignupdata')}}" method="post">
<input type="text" name="name" placeholder="Enter your name" required>
<input type="email" name="email" placeholder="Enter your email" required>
<input type="tel" name="phone" placeholder="Enter your phone" required>
<input type="password" name="password" placeholder="Password" required>
<input type="submit" name="submit" value="submit">
</form>