<!DOCTYPE>
<html>
<head>
<title>Welcome {{name}}</title>
</head>
<body>
{{name}}'s employee portal
<h5>your token is {{your_token}}</h5>
<h5> your id is {{your_id}}
<form action="{{url_for('employee_datahandlers.addemployer', token_sent=your_token)}}" method="post">
    <input type="text" name="employers_id" placeholder="employers id" required>
    <input type="submit">
</form>
<h3>Employers:</h3>
<ul>
{% for employer in employers %}
    {% set return = db.main.employer.find_one({"id": employer}) %}
    <li><a href="{{url_for('employee_routes.manage_employee', employee_token_sent=your_token, employer_id_sent=return['id'])}}"> {{return["name"]}}</a></li>
{% endfor %}
</ul>

<h3>Jobs:</h3>
<ul>
{% for job in jobs %}
    <li><a href="{{url_for('employee_routes.employee_job_portal', job_id=job['id'], employee_token_sent=your_token)}}"> {{job["name"]}} </a></li>
{% endfor %}
</ul>
</body>
</html>