{% extends 'employee_navbar.html' %}
<!DOCTYPE html>
<head>           
    {% block head %}
    <title>Welcome {{name}}</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/employees/employee_portal.css') }}">
    {% endblock %}
</head>
<body>
<nav id="extendingbase">

</nav>
{% block main %}
<form action="{{ url_for('employee_datahandlers.employeelogout') }}" method="post">
<input type="submit" name="logout" value="Logout">
</form>

{{name}}'s employee portal
<h5> your id is {{your_id}}
<form action="{{url_for('employee_datahandlers.addemployer')}}" method="post">
    <input id="employerIdInput" type="text" name="employers_id" placeholder="employers id" required>
    <input type="submit">
</form>
<h3>Employers:</h3>
<ul>
{% for employer in employers %}
    <li><a href="{{url_for('employee_routes.manage_employee', employer_id_sent=employer['id'])}}"> {{employer["name"]}}</a></li>
{% endfor %}
</ul>

<h3>Jobs:</h3>
<ul>
{% for job in jobs %}
    <li><a href="{{url_for('employee_routes.employee_job_portal', job_id=job['id'])}}"> {{job["name"]}} </a></li>
{% endfor %}
</ul>
{% endblock %}
</body>
</html>