<!DOCTYPE>
<head>
<title>
Log in or sign up
</title>
</head>

<html>
<h3>Login or sign up</h3>
<body>
    <h5>Employers</h5>
    <a href="{{url_for('employers.employersignup')}}">Sign up as employer</a>
    <br>
    <a href="{{url_for('employers.employerlogin')}}">Sign in as employer</a>
    <br>
    <h5>Employees</h5>
    <a href="{{url_for('employees.employeesignup')}}">Sign up as employee</a>
    <br>
    <a href="{{url_for('employees.employeelogin')}}">Sign in as employee</a>
</body>
</html>
