<!DOCTYPE>
<html>
<head>
<title>Job portal</title>
</head>
<body>

<h4>Owner is: {{owner}}</h4>
<h4>
Add Employee
</h4>
<form action="{{url_for('job_datahandlers.job_add_employee', job_id_sent=job_id, owner_sent=owner_token)}}" method="post">
    <label for="Employee">Choose employee</label>
    <select name="Employee" id="Employee" required>
        {% for employee in employer_employees %}
            {% set employee_results=db.main.employee.find_one({"id": employee}) %}
            {% set employee_name=employee_results["name"] %}
            <option value="{{employee_results['id']}}">{{employee_name}}</option>
        {% endfor %}
    <input type="submit">
</form>

<h4>
Remove Employee
</h4>
<form action="{{url_for('job_datahandlers.job_remove_employee', job_id_sent=job_id, owner_sent=owner_token)}}" method="post">
    <label for="Employee">Choose employee</label>
    <select name="Employee" id="Employee" required>

        {% for employee in job_employees %}
            {% set employee_results=db.main.employee.find_one({"id": employee}) %}
            {% set employee_name=employee_results["name"] %}
            <option value="{{employee_results['id']}}">{{employee_name}}</option>
        {% endfor %}
    <input type="submit">
</form>

<h3>Employees:</h3>
<ul>
{% for employee_id in job_employees %}
    {% set employee_name_get = db.main.employee.find_one({"id": employee_id}) %}
    <li>{{employee_name_get['name']}}</li>
{% endfor %}
</ul>

<h3>Your Employee Shifts</h3>
<ul>
{% set shifts = db.main.shifts.find({"job_id": job_id}) %}
{% for shift in shifts %}
    {% set employee_results = db.main.employee.find_one({"id":shift['employee']}) %}
    <li>Employee <b>{{employee_results['name']}}</b> Start time: <b>{{shift["start_time"]}} {{shift["start_date"]}}</b>: End time: <b>{{shift["end_time"]}} {{shift["end_date"]}} total time <b>{{shift["total_time"]}}</b></li>
{% endfor %}
</ul>
</body>
</html>